body{
    width: 93vw;
    height: 93vh;
    background-image: url(../image/pexels-simon-berger-1266810.jpg);
    padding: 10px;
    margin: 15px;
}
.parent {
    background-color: rgba(0, 0, 0, 0.5);
    width:95vw;
    height: 60vh;
    padding: 10px;
    margin: 15px;

}
input {
background-color: transparent;
width: 95vw;
height: 15vh;
text-align: center;
}

